/* Hau Ho Man (1155142373) 	Li Pok Man (1155144098)
Chan Ho Him (1155142195)	Chan King Yu (1155142699)
Ng Hon Ling (1155136169)	Thalang Ikshahang (1155136408) */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
